.form-row {
	padding: 10px 0;
	display: flex;
}

.form-row label{
	padding-right: 10px;
	padding-left: 30px;
	flex: 1;
}

.form-row input{
	flex: 1;
}
body {
	background-color: #A9A9A9;
	}
.container{
	padding: -10px;
	margin-top: 10px;
	background-color: #FFFAF0;
	max-width: 700px;
}
.column-layout
{
	max-width: 1300px;
	background-color: #FFF;
	margin: 40px auto 0 auto;
	line-height: 1.65;
	padding: 20px 50px;
	display: flex;
	text-align: justify;
}
.main-column
{
flex: 3;
margin-right: 20px;
order: 2;
}
.sidebar-one
{
margin-right: 20px;	
flex: 1;
order: 1;
}
.sidebar-two
{
flex: 1;
margin-right: 20px;
order: 3;
}
.call-outs-container
{
	max-width: 1400px;
/*	margin: 40px 0 auto 0; */
 margin: 20px 20px 0 20px;
 display: flex;
 align-items: stretch; /* for even the items(DIV's) */

}

.call-out{
	padding: 20px;
	margin-bottom: 20px; 
	margin-right: 15px; /* gap for all other columns */
}

.call-out:nth-child(1) {background-color: #c0dbe2;}
.call-out:nth-child(2) {background-color: #cdf1c3;}
.call-out:nth-child(3) {background-color: #ccb9da; margin-right: 0; /* margin removed for last colimn of the row*/ }